<div class="graph_con">
    <canvas [id]="doughtnut"></canvas>
    <!-- <div div class="donut_value">77 <span>Total</span></div> -->
    <div class='g_title d-flex flex-column'>
        <span class='value mb-0'>77</span>
        <span class='total'>Total</span>
    </div>
</div>
<div class="graph_labels d-flex flex-column mt-2">
    <span class="graph_label task"><i class="far fa-circle mx-2 my-1 text-success"></i> Item-1</span>
    <span class="graph_label task"><i class="far fa-circle mx-2 my-1 text-primary"></i> Item-2</span>
    <span class="graph_label task invisible"><i class="far fa-circle mx-2 my-1"></i> </span>
</div>