
.g-h-icon1 img{
    height: 40px;
}
.g-h-icon2 img{
    height: 20px;
}
.settings_icon{
    float: right;
    img{ max-height: 20px;}
}

.date-filter {
    float: right;
    color: #707070;
    font-size: 0.867rem;
  }