<div class="home_page w-100 bg1-color">
    <div class="container-fluid">
        <div class='nonfixed_row flex-column'>
            <div class="app-title md-5 d-flex justify-content-between">
                <h1 class='h5'>My Dashboard</h1>
                <div class="date-filter">
                    <span>{{todayDate|  date:'fullDate'}}</span> <i className="far fa-calendar-alt"></i>
                </div>
            </div>
            <div class='row chart-wrapper'>
                <div class="col-4">
                    <div class="card px-0" [ngClass]="{'card-active' : task1}" (click)='mytask1()'>
                        <div class="card-header bg-task">
                            <div class="d-flex align-items-center">
                                <div class="g-h-icon1"><img alt="" src='assets/my_task.png' /></div>
                                <div class="g-h-text mx-2 text-white font-weight-bold">My Task 1</div>
                                <div class="g-h-icon2 ml-auto"><img alt="" src="assets/drag&drop.png" /></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="graph">
                                <app-donutgraph [data]="myTaskData" [labels]="myTaskLabels" [bgColors]="myTaskBgColors">
                                </app-donutgraph>
                                <div class="settings_icon"><img src="../../assets/Outline.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" [ngClass]="{'card-active' : task2}" (click)='mytask2()'>
                        <div class="card-header bg-pending">
                            <div class="d-flex align-items-center">
                                <div class="g-h-icon1"><img alt="" src='../assets/Pending_Cases.png' /></div>
                                <div class="g-h-text mx-2 text-white font-weight-bold">My Task 2</div>
                                <div class="g-h-icon2 ml-auto"><img alt="" src="assets/drag&drop.png" /></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="graph">
                                <app-donutgraph-pending [data]="pendingData" [labels]="pendingLabels"
                                    [bgColors]="pendingBgColors">
                                </app-donutgraph-pending>
                                <div class="settings_icon"><img src="../../assets/Outline.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" [ngClass]="{'card-active' : task3}" (click)='mytask3()'>
                        <div class="card-header bg-priority">
                            <div class="d-flex align-items-center">
                                <div class="g-h-icon1"><img alt="" src='../assets/priority_Cases.png' /></div>
                                <div class="g-h-text mx-2 text-white font-weight-bold">My Task 3</div>
                                <div class="g-h-icon2 ml-auto"><img alt="" src="assets/drag&drop.png" /></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="graph">
                                <app-donutgraph-priority [data]="prorityData" [labels]="prorityLabels"
                                    [bgColors]="prorityBgColors">
                                </app-donutgraph-priority>
                                <div class="settings_icon"><img src="../../assets/Outline.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card border-t-l-0 border-t-r-0 table-card">
                        <div class="card-header bg-transparent">
                            {{tableHeader}} List
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let user of users'>
                                            <td>{{user.id}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td>
                                                <button routerLink="../details" type="button" class="btn btn-success mx-2">view</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>