<div class="jumbotron" style="height:50px;">
    <h3><b>Transaction Details</b></h3>
</div>

<button (click)="getSelectedRows()">Get Selected Rows</button>

<ag-grid-angular
    #grid
    style="width: 1200px; height: 300px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    >
</ag-grid-angular>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="populateSum()">Total Amount</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="sumByWithdrawal()">Total Withdraw</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="sumByDeposit()">Total Deposit</button>
        </div>
    </div>
</div>
