.form-login{
    width: 100%;
    max-width: 430px;
    padding: 50px;
    margin: auto;
    font-size: 12px;

    .input-group-text{
        border-right: none;
    }
    button{
        font-size: 13px;
    }
    input{
        font-size: 14px;
        padding-left: 40px;
    }
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 14px;
        padding-left: 40px;
    }
    .input-group-prepend{
      display: flex;
        position: absolute;
        z-index: 100;
        top: 4px;
    }
    
    .form-check-input {
        margin-top: 0.19rem;
    }
    
    input.ng-invalid.ng-touched{
        box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25) !important;
    }
}

